# Quiz 3

**Author:**

**Exercise 1:** 

1. Import the nobel price data frame using pandas.

2. Explore the data set: 

    2.1. Print the first five rows of the table.

    2.2. Print all the columns in the table.

    2.3. Print the types of all the columns in the table.

    2.4. Would the describe function give us any useful information of this data? (answer based on the data types of the columns).

3. Select only the gender column. Using a lambda function and the filter function, calculate the number and proportion of woman who have won the nobel price.

4. Select the column gender and save it in an object called ```g```. Do the same with the column category, and save it in an object called ```c```. Create a new object ```gc = g + c``` and print the content. 

5. Use the object ```gc```, a lambda function and the filter function to calculate the number and proportion of females that have won the economics novel price. Compare that number with the total number of females that have won any nobel price (from question 3)

In [7]:
import numpy as np
import pandas as pd
import os 
os.getcwd()
nobel=pd.read_csv('data/nobel_prize.csv')

In [5]:
nobel.head(5)

,index,id,firstname,surname,born,died,bornCountry,bornCountryCode,bornCity,diedCountry,...,diedCity,gender,year,category,overallMotivation,share,motivation,name,city,country
0,0,846,Elinor,Ostrom,8/7/1933,6/12/2012,USA,US,"Los Angeles, CA",USA,...,"Bloomington, IN",female,2009.0,economics,NaN,2.0,"""for her analysis of economic governance, espe...",Indiana University,"Bloomington, IN",USA
1,1,846,Elinor,Ostrom,8/7/1933,6/12/2012,USA,US,"Los Angeles, CA",USA,...,"Bloomington, IN",female,2009.0,economics,NaN,2.0,"""for her analysis of economic governance, espe...",Arizona State University,"Tempe, AZ",USA
2,2,783,Wangari Muta,Maathai,4/1/1940,9/25/2011,Kenya,KE,Nyeri,Kenya,...,Nairobi,female,2004.0,peace,NaN,1.0,"""for her contribution to sustainable developme...",NaN,NaN,NaN
3,3,230,Dorothy Crowfoot,Hodgkin,5/12/1910,7/29/1994,Egypt,EG,Cairo,United Kingdom,...,Shipston-on-Stour,female,1964.0,chemistry,NaN,1.0,"""for her determinations by X-ray techniques of...","University of Oxford, Royal Society",Oxford,United Kingdom
4,4,918,Youyou,Tu,12/30/1930,0000-00-00,China,CN,Zhejiang Ningbo,NaN,...,NaN,female,2015.0,medicine,NaN,2.0,"""for her discoveries concerning a novel therap...",China Academy of Traditional Chinese Medicine,Beijing,China

In [8]:
nobel.columns

Index(['index', 'id', 'firstname', 'surname', 'born', 'died', 'bornCountry',
       'bornCountryCode', 'bornCity', 'diedCountry', 'diedCountryCode',
       'diedCity', 'gender', 'year', 'category', 'overallMotivation', 'share',
       'motivation', 'name', 'city', 'country'],
      dtype='object')

In [10]:
nobel.dtypes

index                  int64
id                     int64
firstname             object
surname               object
born                  object
died                  object
bornCountry           object
bornCountryCode       object
bornCity              object
diedCountry           object
diedCountryCode       object
diedCity              object
gender                object
year                 float64
category              object
overallMotivation     object
share                float64
motivation            object
name                  object
city                  object
country               object
dtype: object

Cannot give much information. Because most other column types are objects which does not apply to summrize stats. It is not useful Knowing summarize stats of id and index therefore it is not useful. The year and share are float however given the charachter of these columns (we know nobel is given one each year), their summary stats is not useful as well. So overall speaking, descrbe tells us little information.

3. Select only the gender column. Using a lambda function and the filter function, calculate the number and proportion of woman who have won the nobel price.

4. Select the column gender and save it in an object called ```g```. Do the same with the column category, and save it in an object called ```c```. Create a new object ```gc = g + c``` and print the content. 

5. Use the object ```gc```, a lambda function and the filter function to calculate the number and proportion of females that have won the economics novel price. Compare that number with the total number of females that have won any nobel price (from question 3)

In [8]:
nobel['gender']

g=nobel['gender']
h=list(filter(lambda x:x=="female",g))
n=str(len(h))
p=str((len(h)/len(nobel['gender']))*100)

print("number of woman is"+ n +"the proportion of female winner is"+ p +"%")

number of woman is50the proportion of female winner is5.1440329218107%

In [10]:
g=nobel['gender']
c=nobel['category']
gc=g+c
print(gc)

0      femaleeconomics
1      femaleeconomics
2          femalepeace
3      femalechemistry
4       femalemedicine
            ...
967           orgpeace
968           orgpeace
969           orgpeace
970           orgpeace
971           orgpeace
Length: 972, dtype: object

In [15]:
fe=list(filter(lambda x:x=='femaleeconomics',gc))
nfe=str(len(fe))
pfe=str((len(fe)/len(nobel['gender']))*100)
print("The number of female economics nobel price winner is"+nfe+"the proportion of female econ price winner among all nobel price winneer is"+pfe+"%")

The number of female economics nobel price winner is2the proportion of female econ price winner among all nobel price winneer is0.205761316872428%

In [16]:
"The number of of female winner is 50, which is bigger than the number of female econ winner which is 2"

500

In [17]:
len(fe)

2